/*Bernice Chen
    stylesheet.cc
    3/22/2022*/

/* Reset Style Rule */
body, header, nav, main, footer, h1, h3, div, img {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style Rules for body */
body {
    font-family: 'open sans', sans-serif;
    font-weight: 300;
    color: #555;
    background-color: snow;
}

/* Style Rules for header */
header {
    position: relative;
    top: 20px;
}

.logo {
    position: absolute;
    width: 90%;
    height: 50px;
    top: 0px;
    left: 0px;
    float: left;
}

/* Style Rules for navigation area */
nav ul {
    list-style-type: none;
    text-align: right;
}

nav li {
   display: inline-block;
   font-size: 1.5em;
   margin: 1%;
}

nav li a {
   display: block;
   color: lightslategray;
   padding: 0.5em 1em;
   text-decoration: none;
}

a:link {
    text-decoration: none;
}

/* Style Rules for main content */
article {
    margin: 50px 25px;
    text-align: left;
    padding: 2%;
    font-size: 3rem;
    color: forestgreen;
}

article a.btn {
    font-size: 0.5em;
    background-color: #555;
    color: white;
}

main .image {
    display: block;
    width: 200;
    height: 100;
    margin-left: auto;
    float:right;
}

/* Style Rules for footer content */
footer {
    font-size: 0.75em;
    text-align: center;
    color: black;
    padding: 0 1em;
}

.social {
    position: relative;
    align-items: center;
}

.social_img {
    width: 60px;
    height: 60px;
}

/* Y: added the below id */
#img_cycling {
    width:600px;
    height:300px;
}
