/*Bernice Chen
    stylesheet.cc
    3/22/2022*/

/* Reset Style Rule */
body, header, nav, main, footer,img, h1, h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style Rules for body */
body {
    font-family: 'open sans', sans-serif;
    font-weight: 300;
    color: #555;
    background-color: snow;
}

/* Style Rules for header */
header {
    position: relative;
    top: 20px;
}

.logo {
    position: absolute;
    width: 624px;
    height: 56px;
    top: 0px;
    left: 0px;
    float: left;
}

#img_logo {
    position: absolute;
    width: 312px;
    height: 30px;
    top: 0px;
    left: 0px;
    float: left;
}

/* Style Rules for navigation area */
nav ul {
    list-style-type: none;
    text-align: right;
}

nav li {
   display: inline-block;
   font-size: 1.5em;
   margin: 1%;
}

nav li a {
   display: block;
   color: lightslategray;
   padding: 0.5em 1em;
   text-decoration: none;
}

a:link {
    text-decoration: none;
}

/* Style Rules for main content */
.article {
    margin: 50px 25px;
    text-align: center;
    padding: 2%;
    font-size: 4rem;
    color: yellowgreen;
}

#content {
    font-size: 0.3em;
    color: #555;
    text-align: left;
    font-style: normal;
}

#btn {
    font-size: 0.5em;
    background-color: gold;
    color: #555;
    position: relative;
    border-style: solid;
}

#img_cycling {
    display: block;
    width: 800px;
    height: 500px;
    margin-left: auto;
    float:right;
}

/* Style Rules for footer content */
footer {
    position: relative;
    font-size: 1em;
    text-align: center;
    color: #555;
    padding: 0 1em;
    margin: 4%;
}

#img_twitter {
    width: 40px;
    height: 40px;
}

#img_facebook {
    width: 40px;
    height: 40px;
}

.newsletter {
    font-size: 1em;
    text-align: center;
    display: inline-block;
}

#btn_join {
    font-size: 1em;
    background-color: gold;
    color: #555;
    position: relative;
    border-style: solid;
}


/* Media Query for Tablet Viewport */
@media screen and (min-width: 503px), print {


    /* Tablet viewport: show tablet-desktop class */
    .tablet-desktop {
        display: block;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav li {
        display: inline-block;
        margin: 0.5%;
    }

    nav li a {
        padding: 0.1em 1em;
    }

    /* Tablet Viewport: Style rules for grid */
    .grid {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 20px;
	}

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px), print {


    /* Desktop viewport: style rule for header */
    header {
        width: 25%;
        float: left;
    }

    /* Desktop Viewport: Style rules for nav */
    nav ul {
        text-align: right;
    }

    nav li {
        border-radius: 0;
    }

    nav li a {
        display: inline-block;
        padding: 0.7em;
    }

    /* Desktop Viewport: Style rules for the main content */
    main {
        border-style: none;
        margin-bottom: 1em 0;
        overflow: auto;
    }

    .grid {
		grid-template-columns: auto auto auto auto;
	}

    /* Desktop Viewport: Style rule for footer */
    footer {
        clear: left;
    }

}

/* Media Query for Large Desktop Viewport */
@media screen and (min-width: 1441px), print {
    #container {
        width: 1440px;
        margin: 0 auto 0 auto;
    }
}
